body{
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    background: #0F2944;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #0F2944;
    color: #ffffff;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-container{
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 800px;
    padding: 50px 50px;
    border-radius: 5px;
}

.search-form-heading h1 {
  padding: 0 50px;
}

.form-field {
  margin-bottom: 30px;
    padding: 10px 30px;
}

.form-field label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-field input[type="text"],
.form-field input[type="date"] {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #333;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-field input[type="text"]::placeholder,
.form-field input[type="date"]::placeholder {
  color: #999;
}

.result-box ul{
    border-top: 1px solid #999999;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-bottom: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #f2f2f2;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}

button[type="submit"] {
    background-color: #003366;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s;
    font-family: 'Open Sans', sans-serif;
}

.form-field input[type="submit"]:hover {
  background-color: #00264d;
}

footer{
    color: #000000;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    flex-shrink: 0;
}