form{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 950px;
    margin-left: auto;
    padding-left: 43px;
}
.search-form-heading h1 {
  padding: 0 50px;
  margin-bottom: 50px;
  text-align: center;
}

.form-field {
  margin-bottom: 80px;
  display: block
}

.form-field label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-field select {
  display: block;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #333;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-field select::placeholder {
  color: #999;
}

.form-field input[type="date"] {
  display: block;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #333;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-field input[type="date"]::placeholder {
  color: #999;
}

.form-submit {
  align-items: center;
  padding-left: 300px;
}

button[type="submit"] {
    background-color: #003366;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s;
    font-family: 'Open Sans', sans-serif;
}

.form-field input[type="submit"]:hover {
  background-color: #00264d;
}

.lds-dual-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00264d;
  border-color: #00264d transparent #00264d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
