*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #262a2f;
    color: #333333;
}

.search-box{
    width: 600px;
    background: #fff;
    margin: 200px auto 0;
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333333;
}

button{
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid{
    width: 25px;
    color: #555555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder{
    color: #555555;
}

.result-box ul{
    border-top: 1px solid #999999;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-bottom: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #f2f2f2;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}