.travel-plan-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.travel-plan-head {
  display: flex;
  padding: 40px;
  gap: 800px;
}

.travel-plan-title {
  text-align: center;
  float: left;
}

.travel-plan-body{
  width: 1090px;
}

.travel-score-box {
  width: 90px;
  height: 90px;
  background-color: #f2f2f2;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.travel-score {
  font-size: 35px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.travel-score-box:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.travel-score-description {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  margin-top: 10px;
  width: 250px;
  pointer-events: none; /* Added to prevent hover interference */
}

.travel-score-box:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.travel-score-box:hover .travel-score-description,
.travel-score-description:hover {
  opacity: 1;
  pointer-events: auto; /* Added to re-enable hover on score-description */
}

.collapsible {
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
   transition: background-color 0.3s ease;
  margin-top: 20px;
}

.collapsible:hover {
  background-color: #f2f2f2;
}

.collapsible:after {
  content: '\002B';
  color: #777;
  float: right;
  transition: transform 0.3s ease;
}

.active:after {
  content: "\2212";
}

.collapsible h4 {
  margin: 0;
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #f1f1f1;
}


.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.travel-plan-body-head {
  width: 1090px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#map {
  align-items: flex-start;
  height: 300px;
  width: 40%;
}

.skyscanner-widget {
  width: 50%;
  height: 100%;
  border: none;
}