<!DOCTYPE html>
<html>
<head>
  <title>GPTravel ✈️</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/travel_plan.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
  <nav>
    <ul>
      <li><a href="/" style="text-decoration: none;">Home</a></li>
      <li><a href="/about" style="text-decoration: none;">About</a></li>
    </ul>
  </nav>
</head>
<body>
  <header>
    <h1 style="font-size: 36px;"><a href="/" style="color: #FFFFFF; text-decoration: none;">GPTravel ✈️</a></h1>
  </header>
  {% block content %}{% endblock %}
<!-- Add the footer content -->
  <footer>
    <p>&copy; 2023 GPTravel</p>
  </footer>
</body>
</html>