{% extends "base.html" %}

{% block content %}

  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh; background-color: #f2f2f2;">
    <div style="background-color: #fff; border-radius: 1rem; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); padding: 2rem; width: 50%;">
      <div style="padding: 40px; text-align: center;">
        <h1 style="font-size: 28px; margin-bottom: 30px; height: 60px;">Where do you want to go?</h1>
    <form action="#", method="post">
      <div style="display: flex; justify-content: center; margin-bottom: 30px;">
        <label for="country" style="font-size: 18px; margin-right: 20px;">Country:</label>
        <select name="country" id="country" style="font-size: 18px; padding: 8px 10px; border-radius: 3px; border: 1px solid #ccc; box-sizing: border-box; font-family: 'Open Sans', sans-serif;" required>
        </select>
      </div>
      <div style="display: flex; justify-content: center; margin-bottom: 30px;">
        <label for="region" style="font-size: 18px; margin-right: 20px;">Region:</label>
        <select name="region" id="region" style="font-size: 18px; padding: 8px 10px; border-radius: 3px; border: 1px solid #ccc; box-sizing: border-box; font-family: 'Open Sans', sans-serif;">
        </select>
      </div>

      <div style="display: flex; justify-content: center; margin-bottom: 30px;">
        <div style="margin-right: 30px;">
          <label for="departure_date" style="font-size: 18px;">Departure date:</label>
          <input type="date" name="departure_date" id="departure_date" style="font-size: 18px; padding: 8px 10px; border-radius: 3px; border: 1px solid #ccc; box-sizing: border-box; font-family: 'Open Sans', sans-serif;" required>
        </div>
        <div>
          <label for="return_date" style="font-size: 18px;">Return date:</label>
          <input type="date" name="return_date" id="return_date" style="font-size: 18px; padding: 8px 10px; border-radius: 3px; border: 1px solid #ccc; box-sizing: border-box; font-family: 'Open Sans', sans-serif;" required>
        </div>
      </div>

      <button type="submit" style="background-color: #003366; color: #fff; font-size: 18px; padding: 10px 20px; border: none; border-radius: 3px; cursor: pointer; transition: background-color .2s; font-family: 'Montserrat', sans-serif;">Search</button>
    </form>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </div>
    </div>
    </div>

{% endblock %}