{% extends "base.html" %}

{% block content %}

  <div class="search-form-container">
    <div class="search-form-heading">
      <div style="padding: inherit; text-align: center;">
        <h1 style="margin-bottom: 30px; height: 100px;">Where do you want to go?</h1>
    <form action="#", method="post">
      <div class="form-field">
        <label for="country">Country:</label>
        <select name="country" id="country" required>
        </select>
      </div>
      <div class="form-field">
        <label for="region">Region:</label>
        <select name="region" id="region">
        </select>
      </div>

      <div style="display: flex; justify-content: center; margin-bottom: 30px;">
        <div style="margin-right: 30px;">
          <label for="departure_date" style="font-size: 18px;">Departure date:</label>
          <input type="date" name="departure_date" id="departure_date" style="font-size: 18px; padding: 8px 10px; border-radius: 3px; border: 1px solid #ccc; box-sizing: border-box; font-family: 'Open Sans', sans-serif;" required>
        </div>
        <div>
          <label for="return_date" style="font-size: 18px;">Return date:</label>
          <input type="date" name="return_date" id="return_date" style="font-size: 18px; padding: 8px 10px; border-radius: 3px; border: 1px solid #ccc; box-sizing: border-box; font-family: 'Open Sans', sans-serif;" required>
        </div>
      </div>

      <button type="submit">Search</button>
    </form>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </div>
    </div>
    </div>

{% endblock %}