{% extends "base.html" %}

{% block content %}
<div class="travel-plan-container">
    <div class="travel-plan-head">
        <div class="travel-plan-title">
            <h1>Travel Plan</h1>
        </div>
        <div class="travel-score-box">
            <h1 class="travel-score">
                9
            </h1>
            <span class="travel-score-description">{{ travel_score_description }}
            </span>
        </div>
    </div>

    <div class="travel-plan-body">
        {% for day, travel_day_content in travel_plan_json.items() %}
           <button class="collapsible">{{ day }}</button>
           <div class="content">
                {% for city, city_activicties in travel_day_content.items() %}
                    <div class="city">
                        <h4>{{ city }}</h4>
                    </div>
                    {% for activity in city_activicties %}
                        <ul class="activity">
                            <p>{{ activity }}</p>
                        </ul>
                    {% endfor %}
                {% endfor %}
           </div>
        {% endfor %}
        <br>
    </div>

</div>

<script src="{{url_for('static', filename='js/travel_plan.js')}}"></script>

{% endblock %}